altgraph==0.17.4
asttokens==2.4.1
beautifulsoup4==4.12.3
certifi==2024.8.30
chardet==5.2.0
charset-normalizer==3.4.0
decorator==5.1.1
executing==2.1.0
fake-useragent==1.5.1
idna==3.10
ipython==8.27.0
jedi==0.19.1
macholib==1.16.3
matplotlib-inline==0.1.7
packaging==24.1
parso==0.8.4
pexpect==4.9.0
prompt_toolkit==3.0.47
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.18.0
pyinstaller==6.11.0
pyinstaller-hooks-contrib==2024.9
requests==2.32.3
setuptools==75.2.0
simpleaudio @ git+https://github.com/cexen/py-simple-audio.git@6a7cb95c5af4537bad72bad9b190e09cb6d7883c
six==1.16.0
soupsieve==2.6
stack-data==0.6.3
traitlets==5.14.3
urllib3==2.2.3
wcwidth==0.2.13
